/*Navigation styles*/
.logo{
    background-color: #A64044;
    height:121px;
    background-position: left;
}
.nav{
    display: flex;
    background-color: #DAE2E4;
    padding: 20px;
}
.center{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
a{
    color: black;
    padding: 70px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Rubik", sans-serif;

}

/*Flex Container Styles*/
.flexCotainer{
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
}
.container1, .container2, .container3, .container4{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.container1{
    height: 1024px;
    background-image: url('../images/lab_hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;  
}
.text{
    margin-top: 456px;
    background-color:rgb(0,0,0, 0.7);
    color: white;
    margin-left: 150px;
    margin-right: 150px;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}
.container2{
    
    background-color: #A64044;
}
   

.container3{
        background-color: white;
}
.container4{
    background-color: #A64044;
}
.dog{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}
.container4{
    margin-top: 20px;
    background-color: #A64044;
}


/*Fonts for headings text*/

h2{
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    color: white;
}

h3{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    color: black;
    
}
h3.Lab{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: black;


}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;  
}
h5{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color:black;
}
h6{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-right:100px ;
    font-weight: 500;
    text-align: center;
    color: black;  
    
}

/* Fonts Paragraph Text*/
button{
    background-color: #608791;
    border-radius: 18px;
    border: none;
    padding: 20px 50px;
    text-align: center;
    font-size: 24px;
    font-weight: medium;
    color: white;
}

footer{
    margin-top: 100px;
    width: 100%;
    padding: 50px;
    text-align: center;
    margin-bottom: 0 auto;
    background-color: #DAE2E4;
}
@media only screen and (max-width: 600){
    .flexCotainer{
        display: block;
    }

}

